.featureCard {
  width: Hug (295px) px;
  height: Hug (342px) px;
  /* width: 295px;
  height: 342px; */
  padding: 32px 24px 32px 24px;
  gap: 16px;
  border-radius: 16px;
  background: #e4f5ff;
  text-align: center;
  transition: box-shadow 0.3s ease;
}
.icon {
  width: Hug (64px) px;
  height: Hug (62px) px;
  padding: 15px 16px 15px 16px;
  gap: 8px;
  border-radius: 12px 0px 0px 0px;
}
.title {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #2f3337;
  gap: 0px;
}
.blendedLearning {
  width: 174px;
  height: 24px;
}
.instructorLedSessions {
  width: 233px;
  height: 24px;
}
.peerCollaboration {
  width: 247px;
  height: 48px;
}
.globallyCurated {
  width: 247px;
  height: 48px;
}
.expertMentorship {
  width: 247px;
  height: 48px;
}
.locallyTailored {
  width: 247px;
  height: 24px;
}
.flexiblePayment {
  width: 247px;
  height: 24px;
}
.entrepreneurshipSupport {
  height: 48px;
  width: 247px;
}
.learnMore {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #0041e4;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}
.arrow {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}
.arrowlearnmore {
  width: Hug (171px) px;
  height: Hug (48px) px;
  border-radius: 8px 0px 0px 0px;
  display: inline-flex;
  align-items: center;
}
.description {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 247px;
  height: 96px;
  gap: 0px;

  color: #73808f;
}
.title,
.description {
  width: Hug (247px) px;
  height: Hug (136px) px;
  gap: 16px;
}
