.container{
	/* border: 1px solid black; */
	width: Fill (1,440px)px;
	height: Hug (264px)px;
	padding: 96px 0px 96px 0px;
	gap: 64px;
	opacity: 0px;
	position: relative;
}

.amazing{
font-family: Poppins;
font-size: 24px;
font-weight: 700;
line-height: 32px;
text-align: center;
}

.option {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}

.popularIcon {
	position: absolute;
	top: -22px;
	right: -30px;
}



.vectorArrowImg {
	width: 61.96px;
	height: 30px;
	margin-top: 10px;
	margin-right: 10px;
}
.vectorArrow {
	display: flex;
}


.learn {
	text-align: center;
	padding: 40px 32px 0 32px;
}
.title {
	font-size: 20px;
	font-weight: 600;
}
.subtitle {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.price {
	font-size: 42px;
	font-weight: 600;
	line-height: 60px;
}

.items {
	padding: 32px 32px 40px 32px;
}


.items .contents {
	float: left;
	margin-right: 8px
}
.items .checkImg {
	width: 10px;
	color: #12B76A;
}

.items .check {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: #D1FADF;
}
