* {
  background: #f5f8f8;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 6rem 20px 6rem;
  color: #73808f;
}

nav ul {
  display: flex;
  align-items: center;
  list-style:none;
  gap: 20px;
}

.navbarss_menu {
  margin: 0 1rem;
  color: #73808f;
}

nav a {
	text-decoration: none;
	color: #73808f;
	font-size: larger;
}

.nav a:hover {
  background-color: #fff;
  color: blue;
  cursor: pointer;
  text-decoration: none;
}

.nav a:visited {
color:purple;
}

.nav a:active{
color:green;	
}

.menu_contacts {
  background-color: #f7f5f8;
  padding: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 5px;
}

.menu_icon {
  display: none; /* Initially hidden */
}

.close_icon {
  display: none; /* Initially hidden */
}

.arrow {
  cursor: pointer;
}

.drpdwn {
  position: relative;
}

.drpdwn_menu {
  background-color: rgb(226, 219, 219);
  position: absolute;
  width: 12rem;
  padding: 0.5rem;
  z-index: 10;
  transition: ease-in-out;
  animation-duration: 2s;
}

/* Media query for responsiveness */
@media only screen and (max-width: 855px) {
  nav ul {
    display: none; /* Hide the navigation menu */
  }

  .showMenu {
    display: flex; /* Show the menu when menuOpen is true */
    flex-direction: column; /* Stack menu items vertically */
    position: absolute; /* Position the menu */
    top: 80px; /* Adjust based on your needs */
    right: 0;
    background: white; /* Background color for the dropdown */
    width: 100%; /* Full width for mobile */
  }

  .menu_icon {
    display: flex; /* Show the menu icon */
    justify-content: flex-end; /* Align to the right */
    width: 100%; /* Full width to align to the right */
  }

  .close_icon {
    display: flex; /* Show the menu icon */
    justify-content: flex-end; /* Align to the right */
    width: 100%; /* Full width to align to the right */
  }

  .menu {
    display: block;
    font-size: 100px;
    margin-right: 1rem;
  }

  .close {
    display: block;
    font-size: 100px;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 455px) {
  .showMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: white;
    width: 100%;
  }

  .menu_icon {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .menu {
    display: block;
    font-size: 100px;
    margin-right: 1rem;
  }

  .close_icon {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .close {
    display: block;
    font-size: 100px;
    margin-right: 1rem;
  }

  .drpdwn_menu {
    background-color: red;
  }
}
