.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  max-width: 1266px;
  margin: auto;
  gap: 80px;
  background-color: #f5f8f8;
}

.titlecontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 100%;
  max-width: 540px;
  font-family: "Poppins", sans-serif; /* Ensure you have this font available */
}

.titlecontainer h4 {
  color: #5f6974;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin: 0;
}

.titlecontainer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

.testimonialContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 16px;
  width: 100%;
  max-width: 406px;
  gap: 24px;
  border-radius: 16px;
  background: #f5f8f8; /* Change to white for better contrast */
}

.testimonialInfo {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 44px;
}

.testimonialImg {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: #d9d9d9;
  margin-right: 20px;
}

.nameRole {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-block-start: 0px;
  margin-inline-end: 0px;
 }

.nameRole h3 {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #293241;
  font-family: "Poppins", sans-serif;
}

.nameRole p {
  margin: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #5e5e5e;
}

.testimonialText {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #5e5e5e;
}
