.container {
  background-color: #e4f5ff;
  /* width: 1400px;
  height: 304px; */
  padding: 24px;
}

.writeup {
  margin-left: 36px;
  /* margin-top: 2px; */
  /* margin-bottom: 20px; */
  /* margin-top: auto; */
}

.heading {
  margin-top: 2px;
  color: grey;
  font-weight: bolder;
  font-size: larger;
  /* margin-left: 20px; */
}

.bodytext {
  color: #73808f;
  font-size: small;
  margin-bottom: 40px;
}

.imagecontainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 60px;
  margin-right: 60px;
  justify-content: space-between;
}

.imagecontainer img {
  width: 160px;
  height: 80px;
  /* padding: auto; */
  border-radius: 16px;
}
